$colours: (
    primary-dark: #242C32,
    accent: #2b90d9
);

@function colour($colour-name) {
    @return map-get($colours, $colour-name)
}

$mobile: 840px;

@mixin mobile {
    @media (max-width: #{$mobile}){
        @content;
    }
}


body {
  font-family: "Century Gothic", verdana, sans-serif;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: colour(primary-dark);
  padding: 20px;

    li {
      float: right;
      font-size: 20px;
    }

    li a {
        color: #ccc;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.3s;
        font-weight: bold;
    }

    li a:hover {
        color: white;
    }

    a .active {
        color: white;
    }

    .website-title   {
        float: left !important;
        color: white !important;
        font-size: 30px !important;
    }

    .icon {
      display: none;
    }
}

.welcome-message {
  text-align: center;
  padding: 185px;
  color: white;
  font-size: 130%;
  font-weight: bold;
  letter-spacing: .7px;

  @include mobile {
      font-size: 70%;
      padding: 50px;
      padding-bottom: 300px;
  }
}

.button {
  background-color: white;
  color: colour(primary-dark);
  border: 2px solid colour(primary-dark);
  padding: 25px 60px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  font-weight: bold;
}

.button:hover {
  background-color: colour(primary-dark);;
  color: white;
}

.about {
  margin: 50px 100px;
  width: auto;

  @include mobile {
      margin: 20px 20px;
  }
}

.about-paragraph {
  width: 50%;
  float: left;
  margin-top: 10px;
  letter-spacing: .5px;
  line-height: 2em;
  font-size: 16px;
  word-spacing: 2px;

  @include mobile {
      width: auto;
  }
}

.about-photo {
  width: 45%;
  float: right;
  margin-top: 10px;
  text-align: center;

  @include mobile {
      width: 100%;
  }
}

.profile {
  width: 90%;
  height: auto;
  max-width: 100%;
  margin-top: 2em;
}

.cv {
  margin-top: 20px;
}

.contact {
  text-align: center;
  margin: 50px 100px;
  letter-spacing: .5px;
  line-height: 2em;
  font-size: 16px;
  word-spacing: 2px;

  @include mobile {
      font-size: 75%;
      margin: 20px 20px;
  }

}

.social-media img {
  margin-right: 15px;
  margin-left: 15px;
  padding-bottom: 8px;
  border-bottom: 8px solid white;
}

.social-media img:hover {
  opacity: 0.8;
  border-bottom: 8px solid colour(accent);
}

.email a {
  text-decoration: none;
  color: black;
}

.email a:hover {
    color: colour(accent);
}

.projects {
  margin: 50px 100px;
  width: auto;
  letter-spacing: .5px;
  line-height: 2em;
  font-size: 16px;
  word-spacing: 2px;

  @include mobile {
      margin: 20px 20px;
  }
}

.project-info {
  margin-top: 50px;
  border-bottom: 3px dotted grey;
  padding-bottom: 50px;
  overflow: hidden;
}

.headline {
  text-align: center;
  margin-bottom: 20px;
}

.project-paragraph {
  width: 50%;
  float: right;

  @include mobile {
      width: 100%;
  }
}

.project-photo {
  width: 50%;
  float: left;
  margin-top: 2em;

  @include mobile {
      width: auto;
  }
}

.github a {
  color: colour(accent);
  text-decoration: none;
}

p a {
  text-decoration: none;
  color: colour(accent);
}

.screenshot {
  width: 100%;
  height: auto;
  max-width: 90%;
  border: 2px solid black;
  margin-bottom: 15px;
}


@media screen and (max-width: 840px) {
  .navbar li a:not(.website-title) {
      display: none;
    }

  .navbar li a.icon {
    float: right;
    display: block;
    color: white;
  }
}

.responsive {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  width: 100%;
  background-color: colour(primary-dark);
  float:right;
  margin-bottom: 50px;

  a.icon {
    right: 0;
  }

  li a {
    color: #ccc;
    display: block;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s;
    font-weight: bold;
  }

  li a:hover {
    color: white;
  }

  .website-title {
    display: none;
  }

}
